<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">BookMeIn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <% if(user) {%>
        
        <li class="nav-item">
          <a class="nav-link white" href="/company">Company Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/company/new">Add Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/user">User Index</a>
        </li>

        
      <li class="nav-item">
        <a class="nav-link white" href="/booking/new">Add Booking</a>
      </li>

        <li class="nav-item">
          <a class="nav-link">
            <form action="/logout?_method=DELETE" method="POST">
              <input type="submit" value="Logout" style="border: none; background-color: #f5f7fe; font-size:1.4em;">
              </form>
          </a>
        </li>
       
          <% } else { %> 
            <li class="nav-item">
              <a class="nav-link" href="../booking">Bookings Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../login">Login</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="../register">Sign UP</a>
            </li>

         
      <% } %> 
    </ul>
  </div>
</div>
</nav>
