<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">BookMeIn</a>
  
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/company">Company Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="/company/new">Add Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="/user">User Index</a>
          </li>
          <li class="nav-item">
              <a class="nav-link white" href="/user/new">User Company</a>
            </li>
      </ul>
</nav>