<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">BookMeIn</a>
  
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="/home/new">Add Task</a>
        </li>
      </ul>

</nav>