<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Book Me In</title>
</head>
<body class="text-center">

    <%- include('partials/nav') %>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="img-fluid slide" src="/images/hero.jpeg" alt="first slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Online Booking Application</h1>
            <p>Where creative writing meets social media. Discover our community of writers and readers and experience social writing.</p>
            <p><a class="btn btn-lg btn-primary" href="/register" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
      
      <div class="container mt-5">
      <div class="card-deck">

        <% for( let index = 0; index < 3; index++ ) { %>
          <div class="card">
            <img class="card-img-top" src="https://picsum.photos/seed/picsum/275/183" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Business Name</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        <% } %>

        </div>
      </div>
      </div>

      <%- include('partials/footer') %>
  </body>
</html>