<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    <h1>Index Page </h1>
    <nav>
        <a href="/company/new">Add New Company</a>
    </nav>
    <section>
          <h3>Companies</h3>
        <ul>
            <% Companies.forEach((company) =>{ %> 
                <li><a href="/company/<%= company._id%>"><%= company.name %></a></li>

             <%  }) %> 
        </ul>
      
    </section>

</body>
</html>