<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Company</title>
</head>
<body>
    <nav>
        <h1>New Page</h1>
      
    </nav>
    <section>
        <h4>Add new comapany </h4>
    <form action="/company" method="POST">

        Name : <input type="text" name="name"><br>
        Address : <input type="text" name="address"><br>
        Phone Number: <input type="text" name="phoneNumber"><br>
        Email : <input type="email" name="email"><br>
        <input type="submit" value="SUBMIT">

    </form>
    </section>

</body>
</html>