<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company details</title>
</head>
<body>
    <header>
        <h1>More Informations About Company</h1>

    </header>
    <article>
        <h4><%=company.name %></h4>
        <p><%= comapany.address %></p>
        <p><strong>Email: </strong><%= comapany.email %></p>
        <p><strong>Phone Number</strong><%= comapany.phoneNumber %></p>


    </article>

  


</body>
</html>