body {
    background-color: #121213;
}

.bg-light {
    background-color:#f5f7fe!important;
}

.nav {
    margin-left: auto;
}

.navbar {
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.5;
    text-transform: uppercase;
}


.navbar a {
    color: #121213;
}

.navbar-brand {
    text-transform: capitalize;
}

.nav-link {
    padding: 2rem 0;
    position: relative;
    padding-left: 0 1.25rem;
    padding-right: 1.25rem;
}

.carousel-item > img {
    width: 100%;
    height: auto;
}

footer {
    padding: 0 50px;
    font-size: 12px;
    margin-top: 50px;
}

.logout {
    background: none!important;
    border: none;
    cursor: pointer;
    color: #fff;
    padding-right: 1.25rem;
}

.logout a {
    margin-left: 2px;
}

.login-nav ul {
    margin-top: 1px;
    margin-bottom: 1px;
}

.login-nav a {
    padding-right: 1.25rem;
}

.item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }


