<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Users</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>User Index Page</h1>
    <ul>
        <% user.forEach((user) =>{ %> 
            <li><a href="/user/<%= user._id%>"><%= user.name %></a></li>

         <%  }) %> 
    </ul>
</body>
</html>