<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Companies</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Company Index Page </h1>
    <nav>
        <a href="/company/new">Add New Company</a>
    </nav>
    <section>
          <h3>Companies name list</h3>
        <ul>
            <% companies.forEach((company) =>{ %> 
                <li><a href="/company/<%= company._id%>"><%= company.name %></a></li>

             <%  }) %> 
        </ul>
      
    </section>

</body>
</html>